{{/* Waline 评论系统
     按官方文档 CDN 方式部署，自动跟随 Blowfish 深浅色模式 */}}
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<style>
  :root {
    --waline-theme-color: #B0C4DE;
    --waline-active-color: #8aaac8;
    --waline-box-shadow: 0 12px 40px rgb(134 151 168 / 25%);
    --waline-card-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  }
</style>
<div id="waline"></div>

<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

  init({
    el: '#waline',
    serverURL: 'https://comment-waline.wqch.net/',
    lang: 'zh-CN',
    login: 'force',
    dark: 'html.dark',
    meta: ['nick', 'mail', 'link'],
    emoji: [
      'https://unpkg.com/@waline/emojis@1.2.0/weibo',
      'https://unpkg.com/@waline/emojis@1.2.0/bilibili',
    ],
    comment: true,
    pageview: true,
    turnstileKey: '0x4AAAAAACwyghHQumb0yAjk',
  });
</script>
